window {
    margin: 5px;
    border: 0px solid #cba6f7;
    background-color: #1e1e2e;
    /* opacity: 1; */
    font-family: FontAwesome;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    margin: 0px 0px 5px;
    border: 5px solid #fab387;
    background-color: #313244;
    border-radius: 20px;
    color : #cdd6f4;
}

#inner-box {
    margin: 0px;
    border: 0px solid #6c7086;
    background-color: #1e1e2e;
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
    margin: 0px;
    border: 0px solid #6c7086;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: 5px solid #6c7086;
    border-radius: 0px;
    background-color: #1e1e2e;
    /* animation: erscheinen 0.3s linear; */
}

#text {
    margin: 1px;
    border: 0px solid #a6e3a1;
    /* background-color: #444444; */
    color: #cdd6f4;
}

#selected {
    background-color: rgba(203, 166, 247, 0.9 ); /* #cba6f7 */
    font-weight: bolder;
}

#text:selected{
    color: #1e1e2e;
}